.component{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entete{
    width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message{
    width: 70vw;
    border: 3px double lightskyblue;
    margin: 1rem;
    padding: 1rem;
    background-color: lightcyan;
}
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}
textarea{
    width: 70vw;
    height: 10vh;
}

.text {
    background: linear-gradient(to right, #42d392 10%, #647eff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textarea {
    background-color: lightcoral;
    border: 3px double lightskyblue;
}

.textarea:hover {
    background-color: lightgreen;
    border: 3px double red;
}
